<h1><%= @stock.title %></h1>
<table class="table table-condensed">
	<thead>
		<th>№</th>
		<th>Название</th>
		<th>Дата/время</th>
		<th>Статус</th>
		<th>Документов</th>
		<th>Строк расхождений</th>
	</thead>
	<tbody>
		<%= render @stock.tests %>
	</tbody>
</table>