<h2>Тестирование Счетов-фактур и ПТУ</h2>
<table class="table table-condensed">
	<thead>
		<th>№</th>
		<th>Название</th>
		<th>Дата/время</th>
		<th>Статус</th>
		<th>Строк расхождений</th>
	</thead>
	<tbody>
		<%= render @sfptu_tests %>
	</tbody>
</table>