<h2>Тестирование регистра товаров на складах</h2>
<table class="table table-condensed">
	<thead>
		<th>№</th>
		<th>Название</th>
		<th>Дата/время</th>
		<th>Статус</th>
		<th>Документов</th>
		<th>Строк расхождений</th>
	</thead>
	<tbody>
		<%= render @stock_tests %>
	</tbody>
</table>
