<tr>
	<td><%= "Документ #{nullarticles_difference.document.code} (#{nullarticles_difference.document.tref_bin()}) от #{l nullarticles_difference.document.postDate, format: :long}" %></td>
	<td><%= "#{nullarticles_difference.line_no}" %></td>
	<td class="right"><%= nullarticles_difference.quantity %></td>
</tr>